<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Prodotto</h1>
    <form action="../controller/Magazzino.php" method="post">
        <label for="nome">Nome Prodotto</label>
        <input type="text" name="nome" id="nome">
        <br>
        <label for="prezzo">Prezzo Prodotto</label>
        <input type="number" step="0.05" name="prezzo" id="prezzo">
        <input type="submit" value="submit">
    </form>
    
</body>
</html>